{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/user.css'%}">
	<link href="{% static 'css/base.css'%}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><i class="glyphicon glyphicon-phone"></i>MyShop</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="{% url 'shop:product_list'%}">home </a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Produktet <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">{% block category %} {% endblock%}</a></li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="{% url 'shop:contact'%}">Order Now </a></li>
                    <li role="presentation"><a href="#">About </a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="item active"><img src="{% static 'img/la.jpg' %}" width="1400" height="600" alt="Slide Image"></div>
                <div class="item "><img src="{% static 'img/ny.jpg' %}" width="1400" height="600" alt="Slide Image"></div>
                <div class="item "><img src="{% static 'img/chicago.jpg' %}" width="1400" height="600" alt="Slide Image"></div>
            </div>
            <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-1" role="button"
                data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

    <section>
        <div class="container">

            <div class="row">
                <h1 id="title">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

					{% block content %}
					{% endblock %}

				</div>
            </div>
            <div class="row">
                <section>
                    <form class="navbar-form navbar-right" role="search" method="GET" action="{% url 'shop:search-results'  %}">
                        <div class="form-group" >
                            <input type="text" class="form-control" id = "search" name="search" placeholder="Kerko Produkte">
                        </div>
                        <button type="submit"  class="btn btn-primary glyphicon glyphicon-search" id = "submit"></button>
                    </form>
                </section>
            </div>
            {% include 'shop/Products/paginator.html' with page=products %}
        </div>
    </section>
    <section class="features">
        <h2 class="text-center">People Love It!</h2>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Famous tech website</footer>
        </blockquote>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Mobile App © 2016</h5></div>
                <div class="col-sm-6 social-icons">
                    <a href="https://www.facebook.com/enxhi.masha"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/ingmasha/"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>